<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Great Divesites</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="text-center">Scott's Greatest Dive Sites API</h1>
          <h3><a href="/api">Read My Dive Site API Documentation Here</a></h3>
          <h3>Profile information:</h3>
          <div id='profileTarget'>
            <!-- handlebars template -->
            <script id="profile-template" type="text/x-handlebars-template">
              <p><b>Name: </b>{{name}}</p>
              <p><b>City: </b>{{currentCity}}</p>
              <p><b>Pets: </b>{{pets}}</p>
              <a href="{{githubLink}}">Github Link</a><br>
              <a href="{{personalSiteLink}}">Personal Website Link</a>
            </script>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 col-md-offset-2">

          <hr>
          <h3>DIVESITES - create a new divesite:</h3>
          <h4>Note: if adding a new place or country, first add to the database in the next section.</h4>
          <br>
          <form class="form-inline" id="newDivesiteForm">
            <div class="form-group">
              <label for="name" id="divesiteLabel">Divesite Name</label>
              <input type="text" class="form-control" name="name" placeholder="Name" id="divesiteInput">
            </div>
            <div class="form-group">
              <label for="place" id="placeLabel">Place</label>
              <input type="text" class="form-control" name="place" placeholder="Place" id="placeInput">
            </div>
            <br>
            <br>
            <div class="form-group">
              <label for="country" id="countryLabel">Country</label>
              <input type="text" class="form-control" name="country" placeholder="Country" id="countryInput">
            </div>
            <div class="form-group">
              <label for="date" id="dateLabel">Date Last Visited</label>
              <input type="text" class="form-control" name="date" placeholder="Month Year" id="dateInput">
            </div>
            <br>
            <br>
            <button type="submit" class="btn btn-default" id="createDivesite">Create divesite</button>
          </form>

          <hr>
          <h3>DATABASE - add new places, countries and animals:</h3>
          <h4>Note: if you can't add a new animal to a divesite, first add it to the database</h4>
          <br>
          <form class="form-inline" id="newPlaceForm">
            <div class="form-group">
              <label for="name" id="newPlaceLabel">New Place</label>
              <input type="text" class="form-control" name="name" placeholder="Place" id="newPlaceInput">
            </div>
            <button type="submit" class="btn btn-default" id="createNewPlace">Add Place</button>
          </form>
          <br>
          <form class="form-inline" id="newCountryForm">
            <div class="form-group">
              <label for="name" id="newCountryLabel">New Country</label>
              <input type="text" class="form-control" name="name" placeholder="Country" id="newCountryInput">
            </div>
            <button type="submit" class="btn btn-default" id="createNewCountry">Add Country</button>
          </form>
          <br>
          <form class="form-inline" id="newAnimalForm">
            <div class="form-group">
              <label for="name" id="newAnimalLabel">New Animal</label>
              <input type="text" class="form-control" name="name" placeholder="Animal" id="newAnimalInput">
            </div>
            <button type="submit" class="btn btn-default" id="createNewAnimal">Add Animal</button>
          </form>

          <div id='divesiteTarget'>
            <!-- handlebars template -->
            <script id="divesite-template" type="text/x-handlebars-template">
              {{#each divesites}}
              <hr>
              <p>
                <h4><b>{{name}}</b> at {{place.name}}, {{country.name}}</h4>
                <br>
                <b>Date last visited:</b> {{date}}
                <br>
                <p id="animalsSeenTitle"><b>Animals seen:</b>
                {{#each animals}}
                  {{name}},
                {{/each}}</p>
                <button type="button" name="button" class="deleteBtn btn btn-danger pull-right" data-id={{_id}}>Delete</button>
                <img src="images/{{image}}" class="pull-right" id="divesiteImage">
              </p>
              <form class="form-inline" id="addAnimalForm" data-id={{_id}}>
                <div class="form-group">
                  <input type="text" class="form-control" name="animal" placeholder="Animal">
                </div>
                <button type="submit" class="btn btn-default updateButtons" id="addAnimalButton">Add animal</button>
              </form>
              <br>
              <form class="form-inline" id="updateDateForm" data-id={{_id}}>
                <div class="form-group">
                  <input type="text" class="form-control" name="date" placeholder="Month Year">
                </div>
                <button type="submit" class="btn btn-default updateButtons" id="updateDateButton">Update date</button>
              </form>
              <br>
              <form class="form-inline" id="updateImageForm" data-id={{_id}}>
                <div class="form-group">
                  <input type="text" class="form-control" name="image" placeholder="Image name">
                </div>
                <button type="submit" class="btn btn-default updateButtons" id="updateImageButton">Update image</button>
              </form>
              {{/each}}
            </script>
          </div>

        </div>
      </div>
    </div>
  </body>
</html>
