body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background-color: skyblue; /* Sanity Check! */
}

h1 {
  margin-top: 100px;
  text-align: center;
}

#divesiteImage {
  width: 200px;
  margin-right: 25px;
  margin-top: -50px;
}

#animalsSeenTitle {
  width: 425px;
}

#divesiteLabel {
}

#placeLabel {
  margin-left: 20px;
}

#countryLabel {
}

#dateLabel {
  margin-left: 20px;
}

#divesiteInput {
  margin-left: 10px;
}

#placeInput {
  margin-left: 85px;
}

#countryInput {
  margin-left: 51px;
}

#dateInput {
  margin-left: 10px;
}

#createDivesite {
  margin-left: 265px;
  width: 200px;
  background-color: green;
  color: white;
}

#updateDivesite {
  margin-left: 50px;
}

#newPlaceInput {
  margin-left: 30px;
}

#newCountryInput {
  margin-left: 12px;
}

#newAnimalInput {
  margin-left: 18px;
}

#createNewPlace {
  width: 100px;
  background-color: green;
  color: white;
}

#createNewCountry {
  width: 100px;
  background-color: green;
  color: white;
}

#createNewAnimal {
  width: 100px;
  background-color: green;
  color: white;
}

.updateButtons {
  width: 120px;
  background-color: gray;
  color: white;
}
